* { /*for all elements*/
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;   /* Removes borders from all elements */
    outline: none;  /* Removes outlines from all elements */
    font-size: 28px;
}

section img{
  padding: 15px;
  max-width: 100%;

}

#top-logo {
  max-width: 400px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 15px;
  overflow: hidden;
  background-color: white;
}

li {
  float: left;
}

li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  color: white;
  background-color: #182b49;
}

#navbar {
  position: sticky;
  top: 0;
  overflow: hidden; /* hidden ensures that the overflows are not shown, chipped off */
}

  
#Section1 {
  background-color: rgb(245, 240, 230);
  padding: 15px;
  scroll-margin-top: 85px;
  display: inline-block;
  width: 100%;
}

#Section1 h1{
  padding-bottom: 25px;
}

#Section2 {
  color: white;
  scroll-margin-top: 85px;
  display: inline-block;
  padding: 15px;
  width: 100%;
  background-image: url("https://www.ucsd.edu/_resources/img/bg-orbs-1.jpg");
}

#Section2 h1{
  padding-bottom: 25px;
}

.wrapper {
  display: grid;
  padding: 0;
  margin: 0;
  scroll-margin-top: 85px;
  padding: 15px;
  background-color: rgb(245, 240, 230);
  grid-template-columns: repeat(4, 1fr);
  gap: 25px; /* gap between the block */
  grid-auto-rows: auto 500px; /* Set a fixed row height for uniformity */
}

.section-header {
  padding: 0;
  margin-top: 0;
  grid-column: 1 / -1; /* Span the header across all 3 columns */
  background-color: rgb(245, 240, 230);
  margin-bottom: 0; /* Space between the header and the boxes */
}

.one {
  grid-column: 1;
  grid-row: span 2;
  max-height: 500px;
  overflow: scroll;
  padding-inline: 5px;
  background-color: #182b49;
  color: white;
}

.two {
  grid-column: 2;
  grid-row: span 2;
  max-height: 500px;
  overflow: scroll;
  padding-inline: 5px;
  background-color: #182b49;
  color: white;
}

.three {
  grid-column: 3;
  grid-row: span 2;
  max-height: 500px;
  overflow: scroll;
  padding-inline: 5px;
  background-color: #182b49;
  color: white;
}

.four {
  grid-column: 4;
  max-height: 500px;
  overflow: scroll;
  grid-row: span 2;
  padding-inline: 5px;
  background-color: #182b49;
  color: white;
}

@media screen and (max-width: 800px){
  ul {
    display: none;
  }

  #top-logo {
    max-width: 75%;
  }

  h1 {
    font-size: 24px;
  }


  p1 {
    font-size: 20px;
  }

  .wrapper {
    grid-template-columns: repeat(2, 1fr); /* Change grid to 2 columns */
    background-color: fill rgb(245, 240, 230);
    margin: 0px;
    row-gap: 12px;
    gap: 20px;
    padding: 15;
    font-size: 20px;
  }

  .section-header {
    font-size: 24px;
    margin: 10px;
    grid-column: 1 / -1; /* Span the header across all 3 columns */
  }

  .one {
    grid-column: 1;
    grid-auto-rows: 1;
    font-size: 20px;
  }

  .two {
    grid-column: 2;
    grid-auto-rows: 1;
    font-size: 20px;
  }

  .three {
    grid-column: 1;
    grid-auto-rows: 2;
    font-size: 20px;
  }

  .four {
    grid-column: 2;
    grid-auto-rows: 2;
    font-size: 20px;
  }
}
